* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-color: #282c34;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form input{
  font-family: "Montserrat SemiBold";
  border-radius: 8px 0px 0px 8px;
  font-size: 1.85rem;
  outline: none;
}
form input:focus{
  background-color: #1a1d22;
  color: white;
}
form button{
  border-radius: 0px 8px 8px 0px;
}
form button {
  color:  #282c34;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background:  #3b414d;
  color: white;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list{
  min-width: 30%;
  list-style: none;
}
.item {
  font-family: "Montserrat SemiBold";
  border-radius: 8px;
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-list {
  width: 45vh;
  padding: 1rem;
  font-family: "Montserrat";
  font-weight: 700;
}
.item-item {
  padding: 0rem 0.5rem;
}
.trash-btn,
.complete-btn {
  background: #a52602;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.trash-btn{
  border-radius: 0px 8px 8px 0px;
}
.complete-btn {
  background: rgb(11, 212, 162);
  border-radius: 8px 0px 0px 8px;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.item li {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  opacity: 0.2;
}

select {
  border-radius: 8px 8px 8px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;

}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color:  #282c34;
  font-family: "Montserrat";
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background:  #1a1d22;
  cursor: pointer;
  pointer-events: none;
  border-radius: 0px 8px 8px 0px;
}



@media screen and (max-width: 800px) {
  header,form {
    min-height: 20vh;
    display: block;
    justify-content: center;
    align-items: center;
  }
  .filter-list{
    width: 35vh;
  }
.arrow{
  display: none;
}
}